body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navBar{
    /* border: 1px solid red; */
    display: flex;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}
#cartBtn{
    margin: auto;
    margin-right: 0%;
    margin-left: 0%;
    /* border: 1px solid red; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: red;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    padding: 20px;
    gap: 20px;
    margin-top: 2%;
}
.productImage{
    width: 100%;
    height: 300px;
}
.product{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    border-radius: 20px;
}
.cartBtn{
    /* border: 1px solid red; */
    border: none;
    display: flex;
    /* justify-content: center; */
    margin: auto;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: red;
}
#sort{
    /* border: 1px solid red; */
    padding: 10px;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
#sort>select{
    padding: 5px;
}