body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#checkoutData{
    /* border: 1px solid red; */
    width: 400px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: auto;
    border-radius: 10px;
    margin-top: 2%;
}
#cardData{
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
}
#cardData>input{
    padding: 5px;
    margin: 1%;
    /* text-align: center; */
}
#cardData>p{
    /* padding: 5px; */
    margin: 1%;
}
#submitBtn{
    width: 50%;
    padding: 8px;
    margin: auto;
    margin-top: 2%;
    border-radius: 100px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    /* border: 1px solid red; */
    
}
#divHeading{
    text-align: center;
    margin: 0%;
    margin-bottom: 20px;
}
#navBar{
    /* border: 1px solid red; */
    display: flex;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}
.navBtn{
    margin: auto;
    margin-right: 0%;
    margin-left: 0%;
    /* border: 1px solid red; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: red;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#thruCvv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* text-align: center; */
    margin: auto;
}
#thruCvv>input{
    width: 120px;
    /* padding: 5px; */
}